@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-yellow:#FFC700;
}
@font-face {
  font-family: 'PP';
  src: url('/fonts/PP-ultralight.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'PP';
  src: url('/fonts/PP-medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'PP';
  src: url('/fonts/PP-bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Euclid';
  src: url('/fonts/Euclid-light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Euclid';
  src: url('/fonts/Euclid-regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Euclid';
  src: url('/fonts/Euclid-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Euclid';
  src: url('/fonts/Euclid-bold.ttf') format('truetype');
  font-weight: 700;
}
.pp{
  font-family: 'PP';
}
.euclid{
  font-family: 'Euclid';
}
